<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.ejs') %>
</head>

<!---->


<body>

    <header>
    <%- include('partials/header.ejs') %>
    </header>

    <!---->

    <main>
        <div class="header-background">

        </div>
        <section class="producto">
            <div class="producto-imagen">
                <div class="producto-imagen-principal">
                    <img src="/img/<%=producto.img%>" alt="<%=producto.nombre%>">
                </div>
                <div class="producto-imagenes-miniaturas">

                </div>
            </div>
            <div class="producto-info-detalle-1">
                <h1><%=producto.nombre%></h1>
                <h2><%=producto.artistas.nombre_completo%></h2>
            </div>
            <div class="producto-info-detalle-2">
                    <ul class="producto-info-detalle-list">
                        <li>
                            <div class="titulo">
                                <h3>Técnica</h3>
                            </div>
                            <div class="info">
                                <p><%=producto.medios.nombre%></p>
                            </div>
                        </li>
                        <li>
                            <div class="titulo">
                                <h3>Otros detalles</h3>
                            </div>
                            <div class="info">
                                <p><%=producto.otros_detalles%></p>
                            </div>
                        </li>
                        <li>
                            <div class="titulo">
                                <h3>Dimensiones</h3>
                            </div>
                            <div class="info">
                                <p><%=producto.ancho%>x<%=producto.alto%>cm</p>
                            </div>
                        </li>
                    </ul>
            </div>
            <div class="producto-info-detalle-3">
                <h3>Sobre la obra</h3>
                <p><%=producto.descripcion%></p>
                <p>Año de creación: <%=producto.anio_creacion%></p>
            </div>
            <div class="producto-compra">
                <div class="producto-compra-precio">
                    <h1>$<%=producto.precio%></h1>
                </div>
                <div>
                    <h4>Envío y devolución gratis.</h4>
                </div>
                <div class="producto-botonera">
                    <form action="/" method="get">
                        <button type="submit" id="boton-agregar-carrito">Adquirir esta obra</button>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer.ejs') %>
</body>
</html>