<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <header>
    <%- include('partials/header.ejs') %>
    </header>
    
    <main>
        
        <%- include('partials/caja-social') %>
             
            <section class="section-crear-producto">
                
                <h2 class="section-crear-producto-encabezado titulares-secundarios">Editar Producto</h2>
                
                <form action="/galeria/editar_producto/<%=obraAEditar.id%>?_method=PUT" id="crear-producto-form" method="POST" enctype="multipart/form-data">
                    
                    <div class="crear-producto">
                        <label for="nombre">Nombre de la obra</label>
                        <input value="<%=obraAEditar.name %>"type="text" name="nombre" class="crear-producto-field" required>
                    </div>

                    <div class="crear-producto">
                        <label for="artista">Artista</label>
                        <input value="<%=obraAEditar.artist %>"type="text" name="artista" class="crear-producto-field" required>
                    </div>
                    
                    <div class="crear-producto">
                        <label for="fecha-creacion">Año de Creación</label>
                        <input value="<%=obraAEditar.year %>" type="text" name="year" class="crear-producto-field"  required>
                    </div>
     
                                   
                    <div class="crear-producto">
                        <label for="medio">Medio</label>
                        <select name="medio" class="crear-producto-field"  required>
                            <% let medios = ['Pintura', 'Escultura','Fotografía','Dibujo', 'Textil', 'Collage']%>
                            <% for(let unMedio of medios) { %>
                                <option 
                                    value = "<%= unMedio %>"
                                    <%= unMedio === obraAEditar.medium ? 'selected' : null %>
                                >
                                <%= unMedio %></option>
                            <% } %>
                        </select>
                    </div>
                    
                        
                    <div class="crear-producto">
                        <label for="tema">Temática</label>
                        <select name="tema" class="crear-producto-field"  required>

                           <% let categorias = ['Street art', 'Autoretrato','Retrato', 'Urbano', 'Paisajes', 'Naturaleza', 'Desnudo', 'Abstracto', 'Pop Art']%>
                            <% for(let unaCategoria of categorias) { %>
                                <option 
                                    value = "<%= unaCategoria %>"
                                    <%= unaCategoria === obraAEditar.category ? 'selected' : null %>
                                >
                                <%= unaCategoria %></option>
                            <% } %>

                        </select>
                    </div>
    
    
    
                    <div class="crear-producto crear-producto-dimensiones">
                        
                        <h3 class="crear-producto-titulos-secuendarios">Dimensiones  <span>(centímetros)</span></h3>
                        
                        <div class="crear-producto-dimensiones-obejeto">
                            <label for="ancho">ancho</label>
                            <input value="<%=obraAEditar.width %>"type="number" name="ancho" class="crear-producto-field"  required>
                        </div>
                        <div lass="crear-producto-dimensiones-obejeto">
                            <label for="alto">alto</label>
                            <input value="<%=obraAEditar.height %>"type="number" name="alto" class="crear-producto-field"  required>
                        </div>
                          
                    </div>

                    <div class="crear-producto crear-producto-descripcion">
                        <label for="descripcion">Descripción de la obra</label>
                        <textarea name="descripcion" class="crear-producto-field"  required><%=obraAEditar.description %></textarea>
    
                    </div>

                    <div class="crear-producto crear-producto-descripcion">
                        <label for="otros_detalles">Otros detalles</label>
                        <textarea name="otros_detalles" class="crear-producto-field" placeholder="Ej: Enmarcado, soporte, peso" required><%=obraAEditar.other_details %></textarea>
    
                    </div>
    
                    <div class="crear-producto crear-producto-fotos">
                        <label for="fotos">Imágenes de la obra</label>
                        <div class="form-contenedor-imagen">
                            <img src="/img/<%=obraAEditar.img %>">
                        </div>
                        <input  type="file" name="fotos" class="crear-producto-field"  required>
                    </div>
    
                    <div class="crear-producto crear-producto-precio">
                        <label for="precio">Precio de la obra</label>
                        <input value="<%=obraAEditar.price %>"type="number" name="precio" class="crear-producto-field" placeholder=>
                    </div>

                    <div class="crear-producto crear-producto-precio">
                        <label for="descuento">Descuento</label>
                        <input value="<%=obraAEditar.discount %>"type="number" name="descuento" class="crear-producto-field" placeholder=>
                    </div>
    
    
                    <div class="crearproducto crear-producto-botonera">
                        <input type="submit" class="crear-producto-field" id="boton-actualizar-datos-producto" value="Actualizar datos">
                        <input type="reset" class="crear-producto-field" id="boton-reset-form" value="Resetear formulario">
                    </div>
                </form>
                
                <form action="/galeria/<%=obraAEditar.id%>?_method=DELETE" method="POST"onsubmit="return confirm('Está seguro que desea eliminar el producto?');"> 
                    
                    <button id="boton-eliminar-producto" type="submit"  >Eliminar obra</button>
                </form>
                
            </section> 
    
             
    </main>  
    
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>