<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <header>
    <%- include('partials/header.ejs') %>
    </header>
    
    <main>
        
        <%- include('partials/caja-social') %>
             
            <section class="section-crear-producto">
                
                <h2 class="section-crear-producto-encabezado titulares-secundarios">Editar Producto</h2>
                
                <form action="/galeria/editar_producto/<%=obraAEditar.id%>?_method=PUT" id="crear-producto-form" method="POST" enctype="multipart/form-data">
                    
                    <div class="crear-producto">
                        <label for="nombre">Nombre de la obra</label>
                        <input value="<%=obraAEditar.nombre %>"type="text" name="nombre" class="crear-producto-field" required>
                    </div>
                    
                    <div class="crear-producto">
                        <label for="fecha-creacion">Año de Creación</label>
                        <input value="<%=obraAEditar.anio_creacion %>" type="text" name="year" class="crear-producto-field"  required>
                    </div>
     
                                   
                    <div class="crear-producto">
                        <label for="medio">Medio</label>
                        <select name="medio" class="crear-producto-field"  required>
                            <% for(let unMedio of medios) { %>
                                <option value = "<%= unMedio.id %>" <%= unMedio.id === obraAEditar.id_medioFk ? 'selected' : null %> >
                                    <%= unMedio.nombre %>
                                </option>
                        <% } %>
                        </select>
                    </div>
                    
                        
                    <div class="crear-producto">
                        <label for="categoria">Temática</label>
                        <select name="categoria" class="crear-producto-field"  required>
                            <% for(let unaCategoria of categorias) { %>
                                <option value = "<%= unaCategoria.id %>" <%= unaCategoria.id === obraAEditar.id_categoriaFk ? 'selected' : null %> >
                                    <%= unaCategoria.nombre %>
                                </option>
                        <% } %>
                        </select>
                    </div>
    
    
    
                    <div class="crear-producto crear-producto-dimensiones">
                        
                        <h3 class="crear-producto-titulos-secuendarios">Dimensiones  <span>(centímetros)</span></h3>
                        
                        <div class="crear-producto-dimensiones-obejeto">
                            <label for="ancho">ancho</label>
                            <input value="<%=obraAEditar.ancho %>"type="number" name="ancho" class="crear-producto-field"  required>
                        </div>
                        <div lass="crear-producto-dimensiones-obejeto">
                            <label for="alto">alto</label>
                            <input value="<%=obraAEditar.alto %>"type="number" name="alto" class="crear-producto-field"  required>
                        </div>
                          
                    </div>

                    <div class="crear-producto crear-producto-descripcion">
                        <label for="descripcion">Descripción de la obra</label>
                        <textarea name="descripcion" class="crear-producto-field"  required><%=obraAEditar.descripcion %></textarea>
    
                    </div>

                    <div class="crear-producto crear-producto-descripcion">
                        <label for="otros_detalles">Otros detalles</label>
                        <textarea name="otros_detalles" class="crear-producto-field" placeholder="Ej: Enmarcado, soporte, peso" required><%=obraAEditar.otros_detalles %></textarea>
    
                    </div>
    
                    <div class="crear-producto crear-producto-fotos">
                        <label for="fotos">Imágenes de la obra</label>
                        <div class="form-contenedor-imagen">
                            <img src="/img/<%=obraAEditar.img %>">
                        </div>
                        <input  type="file" name="fotos" class="crear-producto-field"  required>
                    </div>
    
                    <div class="crear-producto crear-producto-precio">
                        <label for="precio">Precio de la obra</label>
                        <input value="<%=obraAEditar.precio %>"type="number" name="precio" class="crear-producto-field" placeholder=>
                    </div>

                    <div class="crear-producto crear-producto-precio">
                        <label for="descuento">Descuento</label>
                        <input value="<%=obraAEditar.descuento %>"type="number" name="descuento" class="crear-producto-field" placeholder=>
                    </div>
    
    
                    <div class="crearproducto crear-producto-botonera">
                        <input type="submit" class="crear-producto-field" id="boton-actualizar-datos-producto" value="Actualizar datos">
                        <input type="reset" class="crear-producto-field" id="boton-reset-form" value="Resetear formulario">
                    </div>
                </form>
                
                <form action="/galeria/<%=obraAEditar.id%>?_method=DELETE" method="POST"onsubmit="return confirm('Está seguro que desea eliminar el producto?');"> 
                    
                    <button id="boton-eliminar-producto" type="submit"  >Eliminar obra</button>
                </form>
                
            </section> 
    
             
    </main>  
    
    <footer>
        <%- include('partials/footer') %>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>