<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <header>
    <%- include('partials/header.ejs') %>
    </header>
    
    <main>
        <h2 class="galeria-producto-articulo-encabezado titulares-secundarios">Galería</h2>
        
        <section class="galeria">
             <%- include('partials/caja-social') %>

            

            <% for(product of productos) { %>
                <article class="galeria-producto-articulo">
                    <a href="/galeria/detalle_producto/<%=product.id %>" class="galeria-producto">
                        <div class="galeria-producto-imagen">
                            <img src="/img/<%=product.img %>" alt="<%=product.name%>">
                        </div>
                        <div class="galeria-producto-detalle">
                            <h2 class="galeria-producto-detalle-price">$<%=product.price %></h2>
                            <h4 class="galeria-producto-detalle-size"><%=product.size %></h4>
                            <h3 class="galeria-producto-detalle-name"><%=product.name %></h3>
                            <h4 class="galeria-producto-detalle-artist"><%=product.artist %></h4>
                        </div>
                    </a> 
                </article>
             <% } %>
        </section>
    </main>  
    
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>