<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    
    <header>
    <%- include('partials/header.ejs') %>
    </header>
    
    <main>
        
       <section class="perfil-usuario-caja">
        <h1 class=titulares-principales>Perfil de usuario</h1> <br>
        <p>Nombre y Apellido: <%=user.full_name%></p>
        <p>Username: <%=user.user_name%></p>
        <p>Email: <%=user.email%></p>
        </section>

        <%- include('partials/caja-social') %>
            
    </main>  
    
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>