<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>

    <header>
    <%- include('partials/header.ejs') %>
    </header>

    <main>
        <section class="contenedor-registro">
            <div class="registro-ppal">
                <h2 class="titulares-secundarios">Completá tus datos.</h2>
            
                    <form action="/user/crear_cuenta" id="register-form" method="POST"  >
                    <div class="form-section" id="section-fullname">
                        <input type="text" name="nombre" id="register-fullname" class="login-field <%= locals.errors && errors.nombre ? 'is-invalid' : null %>" placeholder="Nombre y Apellido" value="<%= locals.old && old.nombre ? old.nombre : '' %>">
                        <% if (locals.errors && errors.nombre) { %>
                            <p class="error-message"><%=errors.nombre.msg%></p>
                        <% } %>
                    </div>
                    <div class="form-section" id="section-address">
                        <input type="text" name="domicilio" id="register-address" class="login-field <%= locals.errors && errors.domicilio ? 'is-invalid' : null %>" placeholder="Domicilio" value="<%= locals.old && old.domicilio ? old.domicilio : '' %>">
                        <% if (locals.errors && errors.domicilio) { %>
                            <p class="error-message"><%=errors.domicilio.msg%></p>
                        <% } %>
                    </div>
                    <div class="form-section" id="section-email">
                        <input type="email" name="email" id="register-email" class="login-field <%= locals.errors && errors.email ? 'is-invalid' : null %>" placeholder="Email" value="<%= locals.old && old.email ? old.email : '' %>">
                        <% if (locals.errors && errors.email) { %>
                            <p class="error-message"><%=errors.email.msg%></p>
                        <% } %>
                    </div>
                    <div class="form-section" id="section-password-register">
                        <input type="password" name="password" id="register-password" class="login-field <%= locals.errors && errors.password ? 'is-invalid' : null %>" placeholder="Contraseña">
                        <% if (locals.errors && errors.password) { %>
                            <p class="error-message"><%=errors.password.msg%></p>
                        <% } %>
                    </div>
                    <div class="form-section" id="section-password-register2">
                        <input type="password" name="password2" id="register-password2" class="login-field <%= locals.errors && errors.password2 ? 'is-invalid' : null %>" placeholder="Confirmar contraseña">
                        <% if (locals.errors && errors.password2) { %>
                            <p class="error-message"><%=errors.password2.msg%></p>
                        <% } %>
                    </div>
                    <div class="form-section" id="section-birthday">
                        <input type="date" name="fecha_nacimiento" id="register-birthday" class="login-field">
                        
                    </div>
                    
                    
                    <div class="form-section">
                        <input type="submit" id="boton-crear-cuenta" value="Crear cuenta">
                    </div>
                </form>
            </div>
        </section>

        <%- include('partials/caja-social') %>
        
    </main>

    <footer>
        <%- include('partials/footer') %>
    </footer>
     <script src="/js/register.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>